<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/profile}" method="get">
    <input type="hidden" name="lang" th:value="en">
    <input type="submit" placeholder="en" th:value="en">
</form>
<form th:action="@{/profile}" method="get">
    <input type="hidden" name="lang" th:value="ru" >
    <input type="submit" placeholder="ru" th:value="ru">
</form>
<h1 th:text="#{profile}"></h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" th:value="#{logout}">
</form>
</body>
</html>