<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signIn" method="post">
    <label>name:</label><br>
    <input type="text" name="name"><br>
    <label>email:</label><br>
    <input type="email" name="email"><br>
    <label>phone:</label><br>
    <input type="text" name="phone"><br>
    <label>password:</label><br>
    <input type="password" name="password"><br>
    <label>submit:</label>
    <input type="submit"><br>
</form>
</body>
</html>